* @riscv
.gitlab/CODEOWNERS @vkoyyalagunta

# set this file to have no codeowner for auto-approval
# https://docs.gitlab.com/ee/user/project/codeowners/reference.html#zero-owners
infra/bazel/opensrc_repositories.bzl
repositories.bzl
repositories2.bzl
infra/container/gitlab-container.yml
infra/container/container-id.sh
infra/bzsim-config/sha.json
